@font-face {
  font-family: "Play";
  src: url("./../fonts/Play/Play-Bold.woff2") format("woff2"), url("./../fonts/Play/Play-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter28pt-Regular.woff2") format("woff2"), url("./../fonts/inter/Inter28pt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter18pt-Medium.woff2") format("woff2"), url("./../Inter18pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.container {
  width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #152c39;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 116px;
}

.header__navigation {
  margin-left: auto;
}

.logo {
  display: inline-block;
  padding: 32px 0;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.navigation__item {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #ffffff;
}

.navigation__link {
  display: inline-block;
  padding: 32px 0;
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.navigation__link:hover {
  opacity: 0.6;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location__icon {
  margin-right: 5px;
}

.location__select {
  min-width: 87px;
  cursor: pointer;
  text-align: center;
  padding: 32px 0;
  padding-right: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("./../img/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.location__select:hover {
  opacity: 0.6;
}