*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Play";
  src: url("./../fonts/Play/Play-Bold.woff2") format("woff2"), url("./../fonts/Play/Play-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter28pt-Regular.woff2") format("woff2"), url("./../fonts/inter/Inter28pt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-Medium.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.container {
  width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  padding: 0;
  background: transparent;
  border: none;
  font-family: inherit;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.button-red {
  font-size: 20px;
  font-weight: 500;
  line-height: inherit;
  color: #ffffff;
  background-color: #e53624;
  padding: 12px 114px;
}
.button-red:hover {
  background-color: #b62010;
}

.hero__slider-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.36);
  fill: #ffffff;
}
.hero__slider-btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.hero__slider-btn:hover svg {
  fill: #191a1a;
}

.hero__slider-btn_left {
  top: calc(50% + 25px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 113px;
}

.hero__slider-btn_right {
  top: calc(50% + 25px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 113px;
}

.header {
  background-color: #152c39;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #8b8e8e;
}

.header__logo {
  margin-right: 116px;
}

.header__navigation {
  margin-left: auto;
}

.logo {
  display: inline-block;
  padding: 32px 0;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.navigation__item {
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  color: #ffffff;
}

.navigation__link {
  display: inline-block;
  padding: 32px 0;
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.navigation__link:hover {
  opacity: 0.6;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location__icon {
  margin-right: 5px;
}

.location__select {
  min-width: 87px;
  cursor: pointer;
  text-align: center;
  padding: 32px 0;
  padding-right: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("./../img/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.location__select:hover {
  opacity: 0.6;
}

.hero {
  padding-top: 42px;
  background-color: #152c39;
}

.hero__slide {
  margin-bottom: 100px;
  position: relative;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1240px;
  min-height: 270px;
  margin: 0 auto;
  padding-left: 105px;
  background-image: url("./../../img/hero/Rectangle 7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -1px right;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero__content {
    background-image: url("./../../img/hero/Rectangle 7@2x.jpg");
  }
}

._hero_promotion {
  grid-column: span 3;
}
._hero_promotion span {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  display: inline-block;
  border: 1px solid #ececec;
  border-radius: 100px;
  padding: 8px 12px;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
}

.hero__title {
  margin: 0;
  margin-bottom: 18px;
  font-family: "Play";
  font-weight: 700;
  font-size: 44px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__text {
  width: 240px;
}
.hero__text p {
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: inherit;
  color: #ffffff;
}
.hero__text p + p {
  margin-top: 1em;
}

.hero__pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  position: absolute;
  bottom: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero__pagination-item {
  width: 46px;
}

.hero__pagination-link {
  display: block;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.36);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.hero__pagination-link.active, .hero__pagination-link:hover {
  background-color: #ffffff;
}

.info-block {
  text-align: center;
  padding-bottom: 48px;
}

.info-block__title {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-family: "Play";
  font-weight: 700;
  font-size: 66px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}

.info-block__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.info-block__item {
  text-align: left;
}
.info-block__item b {
  display: inline-block;
  margin-bottom: 12px;
  font-family: "Play";
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}
.info-block__item p {
  margin: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}

.presentation {
  background-color: #476178;
  display: grid;
  grid-template-columns: 940px 1fr;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation__img {
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.5);
}

.presentation__details {
  max-width: 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.presentation__details p {
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
}
.presentation__details p + p {
  margin-top: 1em;
}

.presentation__title {
  margin: 0;
  font-family: "Play";
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}