.location {
    display: flex;
    align-items: center;
}
.location__icon {
    margin-right: 5px;
}
.location__select {
    min-width: 87px;
    cursor: pointer;
    text-align: center;
    padding: 32px 0;
    padding-right: 20px;
    background: transparent;
    border: none;
    outline: none;
    color: $white;
    appearance: none;

    background-image: url('./../img/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right;

    transition: all 0.5s ease-out;

    &:hover {
        opacity: 0.6;
    }
}