.navigation {
}
.navigation__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    align-items: center;
    column-gap: 24px;
}
.navigation__item {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $white;
}
.navigation__link {
    display: inline-block;
    padding: 32px 0;
    text-decoration: none;
    color: inherit;

    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.6;
    }
}